.body {
    width: 1512px;
    height: 982px;
}

.header {
    margin-top: -20px;
    width: 1512px;
    height: 100px;
    border-bottom: solid 1px #E0DFDE;
    background-color: #fff;
    position: relative;
    margin: 0 auto;
}

.logo_title {
    padding-top: 15px;
    color: #8B7969;
    text-align: center;
    background-color: #fff;
}

h1 {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
}

.form {
    position: absolute;
    top: 40%;
    left: 1316px;
    width: 100px;
    height: 34px;
    border: solid 1px #D9C6B5;
    border-radius: 3px;
    background-color: #F6F6F6;
    cursor: pointer;
    text-align: center;
    padding-top: 3px;
}

.logout__button-btn {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: #D9C6B5;
    background-color: #F6F6F6;
    border: none;
}

.admin-form__heading {
    width: 1512px;
    height: 100%;
}

.admin-form__heading h2 {
    color: #8B7969;
    font-size: 35px;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.search-form__item {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-bottom: 30px;
}

.search-form__item-input {
    width: 300px;
    text-align: center;
    border: solid 1px #D5CCC6;
    background-color: #FBFBFB;
}

::placeholder {
    color: #D5CCC6;
}

.search-form__item-gender select {
    appearance: none;
    width: 100px;
    height: 50px;
    padding: 15px;
    color: #8B7969;
    border: 1px solid #D5CCC6;
    border-radius: 2px;
    background-color: #F4F4F4;
    cursor: pointer;
}

.search-form__item-gender {
    position: relative;
    width: 100px;
    text-align: center;
}

.search-form__item-gender::before,
.search-form__item-category::before,
.search-form__item-date::before {
    position: absolute;
    top: 18px;
    right: 15px;
    content: '';
    width: 15px;
    height: 15px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    background-color: #E0DFDE;
    pointer-events: none;
}

.search-form__item-category select {
    appearance: none;
    width: 200px;
    height: 50px;
    padding: 15px;
    color: #8B7969;
    border: 1px solid #D5CCC6;
    border-radius: 2px;
    background-color: #F4F4F4;
    cursor: pointer;
}

.search-form__item-category {
    position: relative;
    width: 200px;
    text-align: center;
}

.search-form__item-date {
    position: relative;
    width: 150px;
    text-align: center;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
}

.search-form__item-date input {
    appearance: none;
    width: 150px;
    height: 50px;
    padding: 15px;
    color: #8B7969;
    border: 1px solid #D5CCC6;
    border-radius: 2px;
    background-color: #F4F4F4;
    cursor: pointer;
    z-index: 10;
}

.search-form__button-submit {
    padding: 10px 0;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 2px;
    background: #82756A;
    color: #fff;
    cursor: pointer;
}

.reset-form__button-submit {
    padding: 10px 0;
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 2px;
    background: #D9C6B5;
    color: #fff;
    cursor: pointer;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.export {
    padding: 10px 0;
    width: 148px;
    height: 39px;
    border: none;
    border-radius: 2px;
    background: #E1DBD699;
    color: #8B7969;
    cursor: pointer;
    margin-bottom: 13px;
}

.paginate {
    width: 219px;
    height: 31px;
    border: solid 1px #E0DFDE;
    margin-top: 10px;
}

.admin-container{
    width: 1183px;
    margin: 0 auto;
}

.contacts {
    width: 1183px;
    height: 570px;
    margin: 0 auto;
    color: #99897C;
    font-weight: lighter;
}

.contacts__table {
    width: 100%;
    height: 100%;
    border: solid 1px #E0DFDE;
    margin: 0 auto;
    padding-bottom: 50px;
}

.table-heading {
    background-color: #8B7969;
    color: #fff;
    width: 100%;
    height: 59px;
    text-align: left;
    margin-left: 50px;
}

.column-name {
    padding-left: 40px;
}

.column-email {
    padding-left: 60px;
}

.table-inner {
    border-bottom: solid 1px #E0DFDE;
    margin-left: 50px;
}

.last{
    margin-left: 40px;
}

.email {
    padding-left: 60px;
}

.category {
    padding-right: 100px;
}

.detail {
    width: 76px;
    border: solid 1px #D9C6B5;
    border-radius: 3px;
    background-color: #F4F4F44D;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #D9C6B5;
    background-color: #F4F4F44D;
    padding: 4px 0;
}

.modal-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 805px;
    height: 858px;
    background-color: #fff;
    border: solid 1px #8B7969;
    border-radius: 3px;
    margin-top: 66px;
    margin-bottom: 66px;
}

#closeModal {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: 710px;
    font-size: 20px;
    cursor: pointer;
    color: #8B7969;
    width: 30px;
    height: 30px;
    border: solid 1px #8B7969;
    border-radius: 50%;
}

.modal__content {
    width: 80%;
    height: 70%;
    margin: 0 auto;
    margin-top: 80px;
}

.modal-ttl {
    width: 40%;
    color: #8B7969;
    text-align: left;
}

.modal-data {
    color: #8B7969;
}

.delete-form {
    width: 100%;
    margin: 0 auto;
}

.delete-btn {
    margin-left: 400px;
    padding: 10px 0;
    width: 50px;
    height: 30px;
    border: none;
    border-radius: 2px;
    background: #BA370D;
    color: #fff;
    cursor: pointer;
}