.confirm__heading {
    width: 1512px;
    text-align: center;
    margin: 60px 0;
}

.confirm__heading h2 {
    color: #8B7969;
    font-size: 35px;
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

.confirm__content {
    width: 972px;
    height: 606px;
    margin: 0 auto;
    color: #8B7969;
    font-weight: lighter;
}

.confirm-table {
    border: 1px solid #E0DFDE;
}

.confirm-table__inner {
    width: 100%;
}

.confirm-table__row {
    height: 60px;
}

.confirm-table__header {
    padding-left: 50px;
    text-align: left;
    width: 40%;
    border-bottom: 1px solid #E0DFDE;
    background-color: #BAA899;
    color: #F6F4F2;
}

.confirm-table__text,
.confirm-table__text--email,
.confirm-table__text--tel {
    padding: 15px;
    border-bottom: 1px solid #E0DFDE;
}

.confirm-table__text input,
.confirm-table__text--email input,
.confirm-table__text--tel input {
    width: 100%;
    outline: none;
    border: none;
    color: #A19285;
    padding-left: 40px;
    font-size: 16px;
}

.confirm-table__text--email input,
.confirm-table__text--tel {
    font-family: "Inika", serif;
    font-weight: 400;
    font-style: normal;
}

.confirm-table__text__content {
    margin-left: 40px;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
    border-bottom-width: 0;
}

.form__button {
    margin-top: 45px;
    text-align: center;
}

.form__button-submit {
    padding: 10px 40px;
    border: none;
    border-radius: 3px;
    background: #82756A;
    color: #fff;
    cursor: pointer;
    width: 120px;
    height: 42px;
    margin-left: 190px;
    font-size: 15px;
}

.edit {
    padding: 5px 0px;
    color: #8B7969;
    cursor: pointer;
    width: 32px;
    height: 28px;
    border: none;
    background: #fff;
    border-bottom: solid 1px #8B7969;
    font-size: 15px;
    margin-left: 40px;
}